<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ATZ.DependencyInjection" version="1.1.0.13185" targetFramework="net452" />
  <package id="ATZ.Reflection" version="1.1.1.33036" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
</packages>